html, body {
  height:100vh;
  width:100vw;
  margin:0px;
  background-color: #38414e;
  font-size: 18px;
  color: #eeeeee;
  overflow:hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  margin: 0px;
  font-size: 0.9rem;
}

html, button, input {
  font-family: "Oxygen";
}
label {
  font-size:0.8rem;
  width:100%;
  text-align: left;
  margin-top:5px;
  color: #CCCCCC;
}
input {
  padding:2px;
  font-size:0.8rem;
  font-weight: bold;
  width:200px;
  margin-bottom:5px;
}

html, body, div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.App {
  min-height: 180px;
  padding: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

button {
  font-weight: bold;
  margin: 2px;
  padding:3px;
  font-size:0.8em;
  width: 140px;
  background-color: #c8d1df;
}

#map {
  width:100%;
  flex-shrink: 99999;
}

span {
  padding: 5px;
}